body {
    
}

.overlay {
    position:fixed;
    background-color: rgb(100, 0, 201);
    height:100vh;
    width:100%;
}

.main-title{
    font-weight:bolder;
}

h1,h2,h3,h4,h5,h6,p,span,div,ul,li,ol,.main-title {
    color:white;
}

.time {
    color:rgb(194, 193, 193);
}

.card {
    background-color: #1e1e1e;
}

#profile-image {
    padding-top:3px;
    width:8vw;
    border-radius:50%;
}